<a href="https://colab.research.google.com/github/Thirunavukarasu-jpeg/Machine_learning/blob/main/Multivariate_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [7]:
df = pd.read_csv('/content/homeprices.csv')

4

In [11]:
df.bedrooms = df.bedrooms.fillna(int(df.bedrooms.median()))
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [12]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [14]:
reg.intercept_

221323.00186540396

In [19]:
reg.predict([[3000,3,1]])

array([624445.25001699])

In [20]:
reg.predict([[2500,4,5]])

array([578876.03748933])

In [69]:
reg_exercise = linear_model.LinearRegression()
df_exercise = pd.read_csv('/content/hiring.csv')
df_exercise

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7     eleven         7.0                8   80000

In [24]:
pip install word2number

Requirement already satisfied: word2number in /usr/local/lib/python3.7/dist-packages (1.1)

In [70]:
help_dict = {
    'one': 1,
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'seven': 7,
    'eight': 8,
    'nine': 9,
    'zero' : 0,
    'ten':10,
    'eleven':11
}

In [71]:
df_exercise.experience = df_exercise.experience.fillna('zero')
df_exercise.test_score = df_exercise.test_score.fillna(int(df_exercise.test_score.median()))

In [72]:
for i in range(len(df_exercise.experience)):
    df_exercise.experience[i] = help_dict[df_exercise.experience[i]]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [73]:
reg_exercise.fit(df_exercise[['experience','test_score','interview_score']],df_exercise.salary)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [74]:
reg_exercise.predict([[2,9,6]])

array([53205.96797671])

In [75]:
reg_exercise.predict([[12,10,10]])

array([92002.18340611])